<script>
  window.onload = function(){
    document.getElementById('upi_status').style.visibility = 'visible';
  }
</script>
<div class="ui center aligned basic segment">
  <div class="column">
    <div class="ui raised centered segment">
      <a class="ui green ribbon label">Transaction Complete</a>
      <p></p>
    </div>
    <div class="column">
      <div class="ui large teal label">Amount (INR):</div> <div class="ui big green lable" >{{amount_inr}}</div>
    </div>
    <p>

    </p>
    <div class="column">
      <div class="ui large teal label">Amount (BTC):</div> <div class="ui big green lable" >{{amount_btc}}</div>
    </div>
    <p>

    </p>

    <div class="column">
      <div class="ui large teal label">UPI Txn. ID:</div> <div class="ui big green lable" >{{receipt}}</div>
    </div>

</div>
